################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpBot/MetaBotCSharp/packages
/CSharpBot/MetaBotCSharp/obj/Debug
/CSharpBot/MetaBotCSharp/bin
/CSharpBot/MetaBotCSharp/.vs/MetaBotCSharp/v15/Server/sqlite3
